@import './common/button';
@import './common/fonts';
@import './common/page';
@import './common/mixins';

:root {
  --background: #fcfbfc;
  --text-color: #b8b9bd;
}

* {
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-decoration: none;
  background: transparent;
  box-sizing: border-box;
  border: 0;
  outline: none;
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
}

button {
  background: transparent;
  cursor: pointer;
  font-family: inherit;
}

h1 {
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: -0.02em;
  color: #000000;

  @include mobile(600px) {
    font-size: 24px;
    line-height: 32px;
   }
}

span {
  display: flex;
}


