.p {
  color: var(--text-color);
  font-weight: 400;

  &--2xs {
    @extend .p;
    font-size: 12px;
    line-height: 15px;
  }
  &--xs {
    @extend .p;
    font-size: 14px;
    line-height: 17px;
  }

  &--sm {
    @extend .p;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    font-weight: 600;
  }
}
